{% extends "base.html" %}

{% block title %}Авторизация{% endblock title %}

{% block content %}

{% if form.errors %}
<p> Ваш логин или пароль не верный, попробуйте еще раз или обратитесь к администратору</p>
{% else %}
{% endif %}

    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0">Авторизация</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form action="." method="post">
            <div class="form-floating mb-3">
              {{ form.username }}
              <label for="floatingInput">Login</label>
            </div>
            <div class="form-floating mb-3">
              {{ form.password }}
              <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Войти</button>
            {% csrf_token %}
            <small class="text-muted">Пожалуйста введите свой логин и пароль для входа на сайт!</small>
            
          </form>
        </div>
      </div>
    </div>

  
{% endblock content %}