{% extends "base.html" %}

{% block title %}Рассылка{% endblock title %}

{% block content %}
    {% if message %}
        <script>
            alert('{{ message }}');
        </script>
    {% endif %}
<h1>Рассылка</h1>    
<form action="." method="post">
    
    <div class="row mt-4 mb-4">
        <div class="col-md-6">
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">Пользователи</span>
                <span class="input-group-text" >
                
                        <select name="select_form-persons" class="form-select" id="id_select_form-persons" multiple="">
                            
                                
                            {% for person in form.persons %}
                            
                            {{person}}

                            {% endfor %}
                            
                        </select>
                </span>
                <span class="input-group-text">
                    <button type="button" class="close" id="clear_all" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-6 mb-4">
           
                <span class="input-group-text">Группы</span>
                    
                        {% for group in form.group %}
                        <div class="form-check form-check-inline">
                        {{group}}
                        </div>
                        {% endfor %}
                    
            
        </div>
    </div>
    {% if mess_form %}
    
    {% for field in mess_form %}
        
        <div class="form-floating mb-4">
            {{ field }}
            <label for="floatingTextarea2">{{ field.label }}</label>
        </div>
    {% endfor %}   
    <button type="submit" class="btn btn-success">Отправить сообщение</button>
    {% endif %}
    {% if not mess_form %}
    <button type="submit" class="btn btn-success">Выбор получателей</button>
    {% endif %}
    {% csrf_token %}
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $('#clear_all').bind('click', function(){
        $("#id_select_form-persons").val([]);
        changeEmployee();
    });
    var group_array_id = function(){
        var group = $("input[type=checkbox]:checked");
        var group_array = Array.prototype.slice.call(group);
        
        var group_id_array = []
        $.each(group_array,function(k, v ) {
            
            group_id_array.push(v.value)

        });
        return group_id_array
    }
    group_array_id();
    var changeEmployee = function(){
        let people = $("#id_select_form-persons").val();
        let data = {
            id_people: people,
            id_group: group_array_id
        }
        
        $.ajax({
            method: "GET",
            dataType: "json",
            data: data,
            url: '{% url "update_people" %}',
            success: function(data){ 
                $("#id_mess_form-text_choice").val(data['data']);
            }
        });
        
    }
    changeEmployee();
    
    $( "select" ).change(changeEmployee).trigger( "change" );
    $('input[type=checkbox]').on( "click",changeEmployee);
</script>
{% endblock content %}


