{% extends 'webinterface/bootstrap.html' %}


{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}{% endblock %}</h1>

        <ul class="nav nav-pills">
            <li class="nav-item"> 
                <span class="logo">Телеграм БОТ ГРЧЦ УФО</span>     
            </li>
            <li class="nav-item">
                <span class ="user">
                    {% if request.user.is_authenticated %}
                    Привет {{ request.user }}!
                    <a href="{% url "logout" %}">Выйти</a>
                    {% else %}
                        <a href="{% url "login" %}">Войти</a>
                    {% endif %}
                </span>
            </li>    
        </ul>

        

        {% block content %}{% endblock %}
    </div>

{% endblock %}
